.character__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 260px;
    border-radius: 999vw;

    &.character__container--md {
        width: 160px;
        height: 160px;

        & .character__icon {
            width: 54px;
        }


        & .character__item {
            width: 124px;
            height: 124px;
        }
    }
}

.character__item--paper {
    background-image: var(--paper-gradient);
    box-shadow: inset 0 -7px hsl(231, 59%, 45%);
}

.character__item--scissors {
    box-shadow: inset 0 -7px hsl(28, 59%, 46%);
    background-image: var(--scissors-gradient);
}

.character__item--rock {
    box-shadow: inset 0 -7px hsl(350, 59%, 36%);
    background-image: var(--rock-gradient);
}

.character__item {
    display: flex;
    justify-content: center;
    background: white;
    cursor: pointer;
    width: 200px;
    height: 200px;

    border-radius: 999vw;
    box-shadow: inset 1px .5rem rgb(226, 226, 226);
}

.character__icon {
    width: 86px;
    -o-object-fit: contain;
    object-fit: contain;
}