.selection__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("./bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    z-index: -10;
    max-width: 380px;
    min-height: 380px;

    margin-inline: auto;

    @media screen and (max-width: 45.5rem) {
        max-width: 280px;
        min-height: 280px;
        margin-top: 4rem;
    }
}

.selection__first__row {
    display: flex;
    justify-content: space-between;
    min-width: calc(100% + 2rem);
    margin-top: -1rem;
}