.footer {
    display: flex;
    padding: 2rem;
    gap: 1rem;
    justify-content: flex-end;

    @media screen and (max-width: 45.5rem) {
        justify-content: center;
        padding-bottom: 4rem;
    }
}