header {
    padding-top: 3rem;
}

.nav {
    border: 1px solid var(--header-outline);
    border-radius: 1.2rem;
    padding: 1rem 1.5rem;
    max-width: 60%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {
    background-color: white;
    padding: 1rem 2.5rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
}

.score__heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    color: var(--score-text);
}

.score__total {
    text-align: center;
    font-size: clamp(3.5rem, 3.3571rem + 0.7143vw, 4rem);
    font-weight: 700;
    color: var(--dark-text);
}